#
# PageSpeedyPlus
#

#
/results/*
councilsites.txt
*.db
*.config.json
*.csv
*.pyc
*.log

/backfill/


#
# For sanity (and because they actually live if physically diffrent places)
# the WebDB is a copy of the processing DB 
#
# (a batch job moves the files)
#
/website/results/
/website/*.db
ghostdriver.log
