.logo , .navbar-brand { font-family: pacifico; text-transform: capitalize; }
.lg { color: darkgoldenrod; }
.boxyness {
	margin: 3em 0;
	padding: 0.4em 0 1em;
	background-color: #EEF; 
    box-shadow: 0 1px 5px rgba(0,0,0,.2);
    -webkit-box-shadow: 0 2px 5px rgba(0,0,0,.2);
    -moz-box-shadow: 0 2px 5px rgba(0,0,0,.2);
}

body {
	font-size: 16pt;
	font-family: Calibri, Arial, Helvetica, Sans-Serif;
}

.navbar { 
	margin-bottom: 0; 
}

.alert, .navbar, .btn, .btn-lg {
	border-radius: 0;
}

.result {
	background-color: #f0f0f0;
	padding: 0.2em;
}

.result h3 {
	text-transform: capitalize;
	padding: 0.2em 0;
	border-bottom: 1px solid #ddd;
	margin: 0 0 0.4em;
	font-weight: 700;	
}

.sitename { 
	text-transform: capitalize;
	}
	
.sitename small {
	text-transform: none ; 
	}
	
.result ul {
	list-style: none; 
	padding: 0;
	margin: 0;
	}

.result-row {
	padding: 0.5em 0 ;
	}
	
.screenshot {
	text-align: center; 
}

.screenshot img {
	max-height: 240px;
	border: 1px solid #dedede;
	padding: 5px;
	max-width: 100%;
	}
	
ul.sitelist {
	-webkit-column-count: 4; 
}

ul.sitelist>li {
	text-transform: capitalize;
	}

.previous {
	margin: 0.4em 0;
	padding: 0 0.4em;
	}

ul.monthlist {
	list-style: none;
	margin: 0;
	padding: 0;
	}

ul.monthlist li { 
	display: inline; 
}

ul.monthlist>li>a {
	display: inline-block;
	padding: 0.2em 0.5em;
}

ul.monthlist>li>a:hover {
	background-color: #eee;
	text-decoration: none;
}


.month-result>.page-header {
    border-bottom: 5px solid darkblue;
    padding-bottom: 2px;
    margin: 2px;
}

header {
	padding: 0.5em;
	background-color: #FED;
	margin-bottom: 1em;
	}
	
footer {
	padding: 1em 0;
	min-height: 75px;
	background-color: #FED;
	margin-top: 1.5em;
}

.tab-pane { 
	padding-top: 10px;
	}
	
.results .page-header {
	color: darkblue;
	border-bottom: 2px solid darkblue;
	padding-bottom: 0;
	}